<h1>All of the Slideshows</h1>
<p>A collection of photos</p>

<% if @photos.count > 0 %>
	<div class="large-8 columns">
	  <div class="row">
	  	<% @photos.first(4).each do |photo| %>
	  		<div class="large-4 small-6 columns text-center">
		      <%= image_tag photo.photo_url(:thumb).to_s %>
		      <div class="panel">
		        <h6><%= photo.title %></h6>
		      </div>
		  	</div>
		  <% end %>
		</div>
	</div>
<% end %>
